.clickable {

	-fx-text-fill: black;


}

 .clickable{

	-fx-graphic: url("http://via.placeholder.com/15x15");

 }

 .clickable .image-view{
	 -fx-background-color: "#FFF";

 }


.clickable:hover {


	-fx-background-color: #ccffe6;

}

.clickable:pressed {
	-fx-background-color: azure;

}

.clickable:focused{

	-fx-background-color: gray;

}

#webBackgroundTest {
	-fx-background-color: gray;
}
