.root{

	/*-fx-background-color: transparent;*/

	/* -fx-opacity: 0.5; */
	/* -fx-border-radius: 1.2; */
}

Pane{
/*-fx-effect: dropshadow(three-pass-box, gray, 10, 0.0, 0, 4);
	/*-fx-background-color: gray;*/
}

.button .text:hover{

	/* -fx-scale-x: 1.05; */
	/* -fx-scale-y: 1.05; */

}

.loginButtons {

	-fx-effect: dropshadow(three-pass-box, gray, 10, 0.0, 0, 4);
	-fx-background-color: white;
	-fx-text-fill: #212164ff;

}

.loginButtons:hover{

	/* -fx-border-radius: 122; */
	-fx-border-radius: 0;
	-fx-scale-x: 1.05;
	-fx-scale-y: 1.05;
	-fx-background-color: #212164ff;
	-fx-text-fill: white;

}

.loginButtons:focused{

	-fx-scale-x: 1.05;
	-fx-scale-y: 1.05;

	-fx-background-color: black;
	-fx-text-fill: white;
}

.loginButtons:pressed{
	-fx-scale-x: 1.05;
	-fx-scale-y: 1.05;
	-fx-background-color: black;
	-fx-text-fill: white;
}

.text-field{

	-fx-alignment: center;
	-fx-border: white;
}

.text-field:hover{

	-fx-border-color: #39B3DC;
	-fx-border-radius: 1.5;
	-fx-height: 29;


}

#titulo{

	-fx-font-size: 30;

}

#imagen{

	-fx-effect: dropshadow(three-pass-box, gray, 10, 0, 0, 7);

}
